/* this css file will only style the homepage of our site */

.picture.jpg {
  margin: 10px;
  max-width: 500px;
}
#picture.jpg {
  width: 500px;
}
.picture.jpg {
  width: 100px;  /* Set the desired width */
  height: auto;  /* Keep aspect ratio */
}